:root {
  --resume-width: calc(95vh / 1.41);
}

.main-container {
    display: flex;
    height: 98vh;
}

.rubrics-menu {
    width: 27vw;
    margin-left: 5%;
}

.content-box {
    display: flex;
    margin: 0 2vw auto;
}

.main-page-content {
    height: 95vh;
    width: var(--resume-width);
    overflow: auto;
    border: 2px solid red;
    padding: 0 10px 10px;
    font-size: 2vw;
    margin-left: 10%;
}

.questions-menu {
    width: 25vw;
    max-height: 86.7vh;
}

.questions-container {
    border: 2px solid red;
    max-height: 100%;
    overflow: auto;
}

.answer-and-question {
    width: 45vw;
    height: 88.7vh;
    margin-left: 2vw;
}

.answer, .question {
    border: 2px solid red;
    font-size: 1.87vw;
    padding: 10px;
    overflow: auto;
    word-break: break-word;
}

.answer {
    max-height: 58.7vh;
}

.main-title {
    font-size: 1.67vw;
    width: 90%;
    border: 2px solid red;
    margin: 5px;
    padding: 8px;
    transition: 0.2s;
}

.title {
    font-size: 50px;
    text-decoration: underline;
    margin-bottom: 20px;
    margin-left: 10px;
}

.main-title:hover {
    cursor: pointer;
    margin-left: 20px;
    transition: 0.2s;
    color: white;
    background-color: red;
}

.select {
    margin-left: 20px;
    color: white;
    background-color: red;
}

.question-in-menu {
    font-size: 2vw;
    padding: 10px;
    border: 1px solid white;
    margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: black;
}

.question-in-menu:hover {
    cursor: pointer;
    transition: 0.2s;
    color: white;
    background-color: red;
}

.last-question {
    margin-bottom: 0;
}

/* кастомный скролл */
.main-page-content::-webkit-scrollbar,
.questions-container::-webkit-scrollbar,
.question::-webkit-scrollbar,
.answer::-webkit-scrollbar {
    width: 10px;
}

.main-page-content::-webkit-scrollbar-track,
.questions-container::-webkit-scrollbar-track,
.question::-webkit-scrollbar-track,
.answer::-webkit-scrollbar-track {
    background-color: rgba(128, 128, 128, 0.1);
}

.main-page-content::-webkit-scrollbar-thumb,
.questions-container::-webkit-scrollbar-thumb,
.question::-webkit-scrollbar-thumb,
.answer::-webkit-scrollbar-thumb {
    background-color: rgba(256, 0, 0, 0.5);
}

.main-page-content,
.questions-container,
.question,
.answer {
    scrollbar-width: thin;
    scrollbar-color: rgba(256, 0, 0, 0.5);
}

.calc-btn {
    background-color: red; /* Цвет фона */
    border: none; /* Без границы */
    color: white; /* Цвет шрифта */
    padding: 12px 24px; /* Отступы */
    text-align: center; /* Выравнивание текста */
    text-decoration: none; /* Без подчеркивания */
    display: inline-block;
    font-size: 1.1vw; /* Размер шрифта */
    margin: 4px 2px; /* Отступы */
    cursor: pointer; /* Изменить тип курсора */
    border-radius: 10px; /* Радиус края */
}

.calc-btn:hover {
    background-color: #e60000;
    cursor: pointer;
}

.title-table-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    background-color: red;
}

.title-table-div {
    flex-basis: 20%;
    font-size: 0.5em;
    text-align: center;
    padding: 7px;
}

.option-title {
    position: relative;
    font-size: 1vw;
    margin-left: 0.65vw;
    margin-bottom: 0px;
    color: black;
}

.option {
    margin: 0 0.6vw 2vh;
    width: 22vw;
    font-size: 0.7vw;
    padding: 5px;
    padding-left: 1vw;
    border: none;
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}

/* знак вопроса с подсказкой */
.question {
    position: absolute;
    font-size: 1.1em;
    left: 20vw;
    top: -0.75vh;
    padding: 1px 8px;
    border-radius: 100%;
    background-color: red;
    color: white;
    font-weight: bold;
}

.question:hover {
    background-color: #e60000;
    border: 2px solid #e60000;
}

/**/
#contact-info,
#accumulationOptions,
#about,
#company {
    background-color: red;
    font-size: 1.3vw;
    color: white;
    border: 2px solid red;
    border-radius: 10px;
    margin-bottom: 2vh;
}

#contact-info:hover,
#accumulationOptions:hover,
#about:hover,
#company:hover {
    background-color: #e60000;
    cursor: pointer;
}

.arrow-up {
    content: '';
    position: absolute;
    top: -10%;
    left: 88%;
    border: 15px solid transparent;
    border-top-color: #fff;
    transform: rotate(180deg);
}

.arrow-down {
    content: '';
    position: absolute;
    top: 30%;
    left: 88%;
    border: 15px solid transparent;
    border-top-color: #fff;
}

.optionsTitle {
    position: relative;
    padding: 0.7vh;
    padding-left: 1vw;
}

.mortgageOptionsWrapper,
.accumulationOptionsWrapper,
.aboutOptionsWrapper,
.companyOptionsWrapper {
    display: none;
    background-color: white;
    margin: 2px;
    border-radius: 7px;
}

.open {
    display: block;
}

/* резюме */
#pdf-viewer {
    margin: 10px auto auto auto;
    display: flex;
    flex-direction: column;
}

.row {
    position: relative;
    margin: 8px calc(var(--resume-width) * 0.156);
    font-size: 1.2vh;
    border-bottom: 1px solid grey;
}

.row-number {
    position: absolute;
    left: calc(var(--resume-width) * -0.156);
}

#my-select {

}
